// COLORS //
$grey: #505050;
$blue: #EDF1F8;
$cream: #F7F0ED;
$logo-beige: #EAE4E2;

// FONTS //
$title: Playfair Display;
$body-font: Raleway;
$mobile-title: 120px;
$body-size: 30px;
$desktop-size: 20px;

// MEDIA QUERIES //

$breakpoint: "only screen and (min-width: 768px)";
