body {
  font-family: $body-font;
  letter-spacing: 2px;
  color: $grey;
  font-size: $body-size;
  a {
    text-decoration: none;
    color: $grey;
  }
}

p {
  letter-spacing: 2;
  line-height: 55px;
  width: 85%;
  margin: 0 auto;
}

h1 {
  @include title;
}

.mobile-title {
  @include title;
}
