.who-i-am {
width: 100%;
height: 42.5vh;
background-color: $blue;
h1 {
  padding: 30px 20px;
}
p {
  line-height: 55px;
  width: 85%;
  margin: 0 auto;
}
}
.what-i-do {
  width: 100%;
  height: 42.5vh;
  background-color: $cream;
  h1 {
    padding: 30px 20px;
  }
}
