.contact-title {
  width: 800px;
  background-color: $blue;
  margin-left: 20px;
  margin-top: 30px;
}

input {
  border: none;
  border-bottom: 1px solid $grey;
  letter-spacing: 2px;
  font-family: $body-font;
  width: 500px;
  background-color: $cream;
  display: flex;
  flex-direction: column;
  margin: 110px;
  font-size: 20px;
  &:focus {
    outline: none;
  }
}
#message {
  @extend input;
  border: 1px solid $grey;
  height: 200px;
  background-color: $blue;
  color: $grey;
}
.form-body {
  background-color: $cream;
  margin-top: 100px;
  height: 48em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#button {
  width: 170px;
  height: 70px;
  letter-spacing: 2px;
  font-family: $body-font;
  border: 1px solid $grey;
  background-color: $blue;
  margin: 0 auto;
  color: $grey;
  display: flex;
  align-items: center;
  justify-content: center;
}
