.hero {
  background-image: url(../images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 85vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  #landing-container {
    width: 600px;
    height: 500px;
    background-color: rgba(237, 241, 248, .9);
    h1, p {
      padding: 30px 20px;
    }
  }
}
 body {
   @include breakpoint {
     display: flex;
     flex-wrap: wrap;
   }
 }

.hero {
  @include breakpoint {
    width: 800px;
    margin: 20px 30px;
    position: relative;
  }
  #landing-container {
    @include breakpoint {
      position: absolute;
      left: 50%;
    }
  }
}

// #landing-container {
//   @include breakpoint {
//     // position: absolute;
//     background-color: red;
//   }
// }

footer {
  @include breakpoint {
  }
}

nav ul {
  @include breakpoint {
    // transform: rotate(90deg);
    border: 1px solid red;
  }
}
