.hero {
  background-image: url(../images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 85vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  #landing-container {
    width: 600px;
    height: 500px;
    background-color: rgba(237, 241, 248, .9);
    h1, p {
      padding: 30px 20px;
    }
  }
}
 body {
   @include breakpoint {
    //  background-color: red;
   }
 }
