h1 {
  padding: 30px 20px;
}

.projects-title {
  height: 420px;
  background-color: $blue;
}

.web-screenshot {
  width: 500px;
  height: 400px;
  background-size: cover;
  background-position: center;
  // background-image: url(../images/thehub.png);
  margin: 15px auto;
}

.the-hub {
  height: 100%;
  background-color: $cream;
  .web-screenshot {
    background-image: url(../images/thehub.png);
  }
}

.socialcodus {
  height: 100%;
  background-color: $blue;
  .web-screenshot {
    background-image: url(../images/socialcodus.png);
  }
}

.natgeo {
  height: 100%;
  background-color: $cream;
}

.arhaus {
  height: 100%;
  background-color: $blue;
  .web-screenshot {
    background-image: url(../images/arhaus.png);
    height: 720px;
  }
}
